.jumbotron {
  color: #ffffff;
  background-color: #3a383d;
  margin-top: 55px;
  margin-bottom: 0px;
}

footer {
  background-color: #3a383d;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 10px 10px 0 10px;
}

address {
  text-align: center;
}

.btn-reserve {
  width: 100%;
  color: #ffffff;
  background-color: #2e0fb8;
  border-radius: 0px;
}

.card-cuidad {
  padding: 5px 10px 5px 10px;
  flex: 1 350px;
  text-align: justify;
}

.add-footer {
  margin-right: 10px;
}

img {
  margin-top: 0px;
  margin-bottom: 2rem;
  align-items: center;
}

.table-responsive {
  padding-top: 10px;
}

.btn-outline-success {
  margin-top: 0px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
