$color1: #3a383d;
$color2: #ffffff;
$color3: #2e0fb8;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
	color: $color2;
	background-color: $color1;
	@include margenes(55px, 0px);
}

footer{
	background-color: $color1;
	color: $color2;
	@include margenes(20px, 0px);
	padding: 10px 10px 0 10px;
}

address{
	text-align: center;
}

.btn-reserve{
	width: 100%;
	color: $color2;
	background-color: $color3;
	border-radius: 0px;
}

.card-cuidad{
	padding: 5px 10px 5px 10px;
	flex: 1 350px;
	text-align: justify;

}

.add-footer{
	margin-right: 10px;
}

img{
	@include margenes(0px, 2rem);
	align-items: center;
}

.table-responsive{
	padding-top: 10px;
}

.btn-outline-success{
	@include margenes(0px, 10px);
}